.shop-container{
    display: flex;
    width: 100%;
    margin-top: 100px;
    z-index: 0;
}

.product-section{
    margin: 50px 70px;
    width: 90%;
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}


.cart-section{
    height: 70vh;
    margin: 50px 0;
    width: 10%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;

    padding: 10px 20px;
    /* font-size: 20px; */
   position: fixed;
   right: 0;

   background-color: #333333;
   color: #ffff;
   border-radius: 10px 0 0 10px;
   outline: 0;
   border: 0;
   
}
.cart-btn:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}

.cart-btn-text{
    font-size: 15px;
}
.cart-btn-icon{
    font-size: 50px;
}

.cart-icon-lg{
    display: flex;
    position: relative;
}

.cart-badge{
    width: 15px;
    padding: 5px;
    color:#ffff;
    background-color: rgb(223, 23, 23);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px solid #333333;
    font-size: 12px;
    display: flex;
    justify-content:center;
    align-items: center;


}
