@media  screen and (max-width: 700px){
    .small-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        background: #333333;
        height: 25px;
        font-size: 14px;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 2;
    }
    
    .small-navbar a{
        margin: 0 10px;
        text-decoration: none;
        color: #ffff;
    }
    
    .main-navbar{
        position: fixed;
        top:25px;
        right: 0;
        left: 0;
        
        display: flex;
       
        align-items: center;
        padding: 0 5px;
        background: #e6e6e6;
        height: 70px;
        z-index: 2;

    }
    .main-navbar h2{
        font-size: 1.2em;
        font-weight: 700;
        color: black;
        margin: 0 5px;
       
        
    }
    
    .main-navbar a{
        color: #ffff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 17px;
        color: black;
        font-weight: 550;
        display: none;
    
    }
    
    
    .search-box{
        /* this height will help to adjust the size of icon */
        height: 40px;
        width: 200px;
        padding: 12px 20px;
        border-radius: 22px 0 0 22px;
        border: none;
        outline: 1px solid #333333;
        background-color: #f2f2f2;
    }
    
    .search-btn{
        padding: 12px 20px;
        height: 40px;
        border-radius: 0 22px 22px 0;
        border: none;
        background: #333333;
        color: #ffff;
        font-weight: 550;
        outline: 1px solid #333333;
        font-size: 17px;
        
    }
    .search-btn:hover{
        cursor: pointer;
        background-color: #1a1a1a;
    
    }
}